body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin: 0;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    flex-wrap: wrap;
}
.dialog {
    text-align: center;
    background: rgb(234, 229, 229);
    padding: 20px;
    border-radius: 10px;
    margin-left: auto;  
    margin-right: auto;
    align-content: center;
    height: 200vh;
    width: 200vh;
}
button {
    background: linear-gradient(145deg, #2c3e50, #34495e); /* Degradado sutil */
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    padding: 14px 28px;
    border: none;
    border-radius: 50px; /* Forma de burbuja */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2), 
                -4px -4px 10px rgba(255, 255, 255, 0.1); /* Efecto de elevación */
}
button:hover {
    background: linear-gradient(145deg, #34495e, #2c3e50); /* Invertir degradado */
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25), 
                -6px -6px 12px rgba(255, 255, 255, 0.15);
}
button:active {
    transform: scale(1.99); /* Efecto de presión */
  }
.modal__content{
    background-color:#fff;
    padding:10px 20px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    position: relative;
    text-align: center;
}
.container {
    text-align: center;
    font-size: medium;
    background: rgb(246, 239, 239);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
}
.descripcion {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 0 0 3vh red;
    animation: glow-border 1.ms infinite alternate;
}
.name {
    margin-top: 10px;
    font-size: 24px;
    color: #333;
}
.description {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
    color:black;
}
img {
    width: 60vh;
    height: 60vh;
    padding: 0.1vh;
    border-radius: 1vh;
    object-fit: contain;
}
.redes {
    display: flex;
    justify-content: center;
    gap: 1vh;
    margin-top: 1vh;
}

.redes a img {
    width: 7vh;
    height: 7vh;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: grayscale(20%);
}

.redes a:hover img {
    transform: scale(1.15);
    filter: grayscale(0%);
}